#eth_secret_container{
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
}

#eth_secret{
  word-break: break-word;
  background-color: black;
  color: white;
  padding: 5px;
}

#copy{
  width: 25px;
  height: 25px;
  margin-left: 5px;
  cursor: pointer;
}
