#signing_failed{
  height: 100%;
  display: flex;
}

#signing_failed_info{
  font-family: DMSans;
  background: radial-gradient(133.64% 63.96% at -11.36% -1.89%, #FA5A45 0%, rgba(250, 90, 69, 0) 100%), linear-gradient(30.21deg, rgba(0, 118, 255, 0.4) 10.56%, rgba(0, 118, 255, 0) 92.05%), radial-gradient(116.36% 65.74% at -13.18% 78.62%, #FA5A45 17.71%, rgba(244, 81, 81, 0) 100%), #0076FF;
  color: white;
  padding: 10px;
}

#err_details{
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  padding: 10px;
}

#err_details h3{
  color: #0076FF;
  font-family: DMSans;
}

#err{
  background: #7D7C7C;
  color: white;
  padding: 15px;
  position: relative;
}

#controls{
  font-family: DMSans;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

#ok{
  border: 0;
  background: #0076FF;
  color: white;
  cursor: pointer;
  font-family: DMSans;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 15px;
}
