#eth_secret{
  height: 100%;
  display: flex;
}

#eth_secret_info{
  font-family: DMSans;
  background: radial-gradient(133.64% 63.96% at -11.36% -1.89%, #FA5A45 0%, rgba(250, 90, 69, 0) 100%), linear-gradient(30.21deg, rgba(0, 118, 255, 0.4) 10.56%, rgba(0, 118, 255, 0) 92.05%), radial-gradient(116.36% 65.74% at -13.18% 78.62%, #FA5A45 17.71%, rgba(244, 81, 81, 0) 100%), #0076FF;
  color: white;
  padding: 10px;
}

#key_details{
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  padding: 10px;
}

#key_details h3{
  color: #0076FF;
  font-family: DMSans;
}

#key_wrapper{
  background: #7D7C7C;
  color: white;
  padding: 15px;
  position: relative;
}

#key{
  word-break: break-word;
}

#copy{
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#saved_wrapper{
  margin-top: 15px;
}

#controls{
  font-family: DMSans;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}

#cancel{
  border: 0;
  background: #F8F8F8;
  color: #7C7C7C;
  cursor: pointer;
  font-family: DMSans;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 25px;
}

#done{
  border: 0;
  background: #0076FF;
  color: white;
  cursor: pointer;
  font-family: DMSans;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 15px;
}

#done:disabled{
  opacity: 0.4;
}
