#generate_eth{
  height: 100%;
  display: flex;
  flex-direction: column;
  background: radial-gradient(133.64% 63.96% at -11.36% -1.89%, #FA5A45 0%, rgba(250, 90, 69, 0) 100%), linear-gradient(30.21deg, rgba(0, 118, 255, 0.4) 10.56%, rgba(0, 118, 255, 0) 92.05%), radial-gradient(116.36% 65.74% at -13.18% 78.62%, #FA5A45 17.71%, rgba(244, 81, 81, 0) 100%), #0076FF;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

h2{
  font-family: DMSans;
}

#info{
  font-family: Poppins;
}

#controls{
  font-family: DMSans;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}

#cancel{
  border: 0;
  background: #F8F8F8;
  color: #7C7C7C;
  cursor: pointer;
  font-family: DMSans;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 25px;
}

#continue{
  border: 0;
  background: #0076FF;
  color: white;
  cursor: pointer;
  font-family: DMSans;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 15px;
}
