html, body{
  height: 100%;
  margin: 0;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#main{
  height: 100%;
  display: flex;
  flex-direction: column;
}

#security{
  text-align: center;
  padding: 5px;
  background-color: red;
  color: white;
}

#security b{
 animation: blinker 1s linear infinite;
}

#controls{
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

#settings{
  flex-basis: 5%;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

#help{
  flex-basis: 5%;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

#xrp_secret_container{
  padding: 5px;
  flex-basis: 15%;
}

#xrp_secret_subcontainer{
  display: flex;
  justify-content: space-evenly;
}

#xrp_secret_wrapper{
  flex-basis: 90%;
}

#xrp_secret{
  width: 100%;
  box-sizing: border-box;
}

#view_xrp_secret{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#hide_xrp_secret{
  display: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#xrp_secret_invalid{
  display: none;
}

#eth_address_container{
  padding: 5px;
  flex-basis: 15%;
}

#eth_address_subcontainer{
  display: flex;
  justify-content: space-evenly;
}

#eth_address_wrapper{
  flex-basis: 90%;
}

#eth_address{
  width: 100%;
  box-sizing: border-box;
}

#eth_address_invalid{
  display: none;
}

#create_eth_address{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#submit_container{
  text-align: center;
}

#submit{
  margin-top: 15px;
}

#loader_container{
  margin: auto;
}

#loader {
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
