#_eth_address_partial{
  margin-top: 25px;
}

#_eth_address_partial h3{
  margin: 0;
  font-family: DMSans;
}

#eth_address_container{
  display: flex;
  justify-content: space-between;
}

#create_eth_address{
  display: flex;
  justify-content: space-between;
  min-width: 75px;
  color: white;
  background: #0076FF;
  border: 0;
  border-radius: 3px;
  padding: 5px 13px;
  cursor: pointer;
}

#eth_address{
  width: 100%;
  line-height: 25px;
  margin-top: 5px;
}

#eth_address_invalid{
  display: none;
}
