#_main_partial{
  padding: 0 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#_main_partial h1{
  font-family: DMSans;
}

#_main_partial_controls{
  margin: 25px;
  display: flex;
  justify-content: space-between;
  font-family: DMSans;
}

#_main_partial_clear_all{
  border: 0;
  background: #F8F8F8;
  color: #7C7C7C;
  cursor: pointer;
  font-family: DMSans;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 25px;
}

#_main_partial_submit{
  border: 0;
  background: #0076FF;
  color: white;
  cursor: pointer;
  font-family: DMSans;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 15px;
}

#_main_partial_submit:disabled{
  opacity: 0.4;
}

#loading_container{
  margin: auto;
}

#loading {
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#_main_partial_security{
  display: flex;
  background: #FEE76D;
  padding: 15px;
  font-family: Poppins;
  border-radius: 3px;
  margin-top: auto;
  margin-bottom: 15px;
}

#_main_partial_security img{
  margin-right: 10px;
}
