#networks{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.network{
  border: 2px solid #B4B4B4;
  border-radius: 3px;
  width: 40%;
  padding: 5px;
  font-family: Poppins;
  cursor: pointer;
}

.network.active{
  border: 2px solid #0076FF;
}

.network h3{
  margin: 0;
}

.network p{
  color: #7D7C7C;
  margin: 0;
}
