#_security_partial{
  font-family: Poppins;
}

._security_partial_separator{
  border-top: 2px solid #E87161;
  width: 50px;
  height: 1px;
  margin: 0 auto;
}

#_security_partial_preface{
  margin-bottom: 50px;
}

#_security_partial_header{
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}

#_security_partial_section1{
  display: flex;
  margin-top: 50px;
}

#_security_partial_section2{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

#_security_partial_section3{
  margin-top: 25px;
}

#_security_partial_subsection4{
  display: flex;
}
