#_xrp_secret_partial h3{
  margin: 0;
  font-family: DMSans;
}

#xrp_secret{
  width: 100%;
  line-height: 25px;
  margin-top: 5px;
}

#xrp_secret_container{
  position: relative;
}

#xrp_secret_container img{
  position: absolute;
  right: 9px;
  top: 9px;
  cursor: pointer;
}

#hide_xrp_secret{
  display: none;
}

#xrp_secret_invalid{
  display: none;
}
