#xrp_account_toggle_partial{
  margin-top: 25px;
}

#xrp_account_toggle_container{
  display: flex;
  align-items: center;
}

#xrp_account_toggle_label{
  font-family: DMSans;
  font-weight: bold;
  font-size: 1.25rem;
  margin-right: 15px;
}

#xrp_account_toggle_info{
  font-family: Poppins;
}

#xrp_account_toggle_info_emphasis{
  font-weight: bold;
}
