<!-- ETH Address Partial:
     - contains input text box
     - generation control
     - error
-->
<div id="_eth_address_partial">
  <h2>ETH Address:</h2>

  <div id="eth_address_subcontainer">
    <div id="eth_address_wrapper">
      <input id="eth_address" type="text" />

      <div id="eth_address_error" class="error">
        <div id="eth_address_invalid">
          Invalid ETH Address
        </div>
      </div>
    </div>

    <img id="create_eth_address" src="../assets/plus.svg" title="Create ETH Address" />
  </div>
</div>
