<!-- Info partial: contains informational content
     relating to application help -->
<div id="_info_partial">
  <div id="_info_partial_about">
    <div id="_info_partial_about_header" class="_info_partial_header">
      <div class="_info_partial_title">About</div>
      <img src="../assets/Icon-xMovement.svg" />
    </div>

    <p>
      This utility will setup your XRP cryptocurrency account to receive the Flare Spark token when it is airdropped.
    </p>

    <p>
      This tool will create a transaction that sets the message key on your XRP account to the provided ETH address. A snapshot of the XRP ledger will be taken for the Flare Spark airdrop after which the accounts which have been setup this way will receive corresponding tokens</li>
    </p>

    <p>
      This project is 100% open source, documented, and tested.
    </p>
  </div>

  <div id="_info_partial_security">
    <div id="_info_partial_security_header" class="_info_partial_header">
      <div class="_info_partial_title">Security &amp; tips</div>
      <img src="../assets/Icon-security.svg" />
    </div>

    <!-- Populated w/ same security info as security window -->
    <div id="security_partial"></div>
  </div>

  <div id="_info_partial_legalese">
    <div id="_info_partial_legalese_header" class="_info_partial_header">
      <div class="_info_partial_title">Legalese</div>
      <img src="../assets/Icon-legalDoc.svg" />
    </div>

    <p>
      Copyright (C) 2021 - Dev Null Productions
    </p>

    <p>
      Made available under the MIT license.
    </p>

    <p>
      This application provides with no warranties or guarantees pertaining to functionality or use. Make sure you know what you are doing and the risks involved with managing cryptocurrencies before using this application. By using this application you agree to absolve Dev Null Productions of any liabilities that may arise.
    </p>
  </div>
</div>
