<!-- Main partial, contains:
     - xrp secret partial
     - xrp address partial
     - ethereum address input (and generation control)
     - clear all control
     - submit button
     - loading icon
     - security warning
-->
<div id="_main_partial">
  <!-- user inputs -->
  <div id="xrp_secret_partial"></div>
  <div id="xrp_address_partial"></div>
  <div id="eth_address_partial"></div>

  <div id="_main_partial_controls">
    <!-- Clear all input fields -->
    <button id="_main_partial_clear_all">Clear All</button>

    <!-- Submit form, setting up transaction and submitting (if online) -->
    <button id="_main_partial_submit" disabled>Submit</button>
  </div>

  <!-- render loading indicator on submit -->
  <div id="loading_container">
    <div id="loading"></div>
  </div>

  <div id="_main_partial_security">
    Just a friendly reminder. This application requires access to your XRP Secret Key, please ensure you are running it in a secure environment.
  </div>
</div>
