<!-- Navigation partial, contains:
     - Application logo
     - Home control
     - Settings control
     - Help / Info control
-->
<div id="_navigation_partial">
  <img id="_navigation_logo"     class="_navigation_icon" src="../assets/app-icon.png" />

  <img id="_navigation_home"     class="_navigation_icon" src="../assets/home.svg"     />
  <div id="_navigation_main_indicator" class="_navigation_indicator active"></div>

  <img id="_navigation_settings" class="_navigation_icon" src="../assets/settings.svg" />
  <div id="_navigation_settings_indicator" class="_navigation_indicator"></div>

  <img id="_navigation_info"     class="_navigation_icon" src="../assets/info.svg"     />
  <div id="_navigation_info_indicator" class="_navigation_indicator"></div>
</div>
