<!-- Settings which apply in offline mode,
     required to be set
-->
<div id="_offline_settings_partial">
  <div id="offline_settings_info">
    Please configure the following parameters in order to generate a XRP transaction
  </div>

  <!-- Fee to set for transaction -->
  <div class="offline_settings_header">
    <label for="fee">Fee</label>
    <span class="offline_settings_help">The amount of XRP to pay in fees</span>
  </div>

  <input type="text" id="fee" />

  <div id="fee_invalid" class="error">
    Fee is invalid
  </div>

  <!-- Transaction sequence number -->
  <div class="offline_settings_header">
    <label for="sequence">Sequence</label>
    <span class="offline_settings_help">The sequence number to assign to the transaction</span>
  </div>

  <input type="text" id="sequence" />

  <div id="sequence_invalid" class="error">
    Sequence is invalid
  </div>

  <!-- Max ledger version to apply transaction to -->
  <div class="offline_settings_header">
    <label for="max_ledger_version">Max Ledger Version</label>
    <span class="offline_settings_help">The highest ledger number which this transaction can be included in</span>
  </div>

  <input type="text" id="max_ledger_version" />

  <div id="max_ledger_version_invalid" class="error">
    Max Ledger Version is invalid
  </div>
</div>
