<!-- Control allowing user to disable network connection -->
<div id="_offline_toggle_partial">
  <div id="offline_toggle_container">
    <label for="offline_toggle">
      <span id="offline_toggle_label">Offline mode</span>
    </label>

    <label class="switch">
      <input id="offline_toggle" type="checkbox">
      <span class="slider"></span>
    </label>
  </div>

  <div id="offline_toggle_info">
    FleXRP will not connect to any XRP server and instead simply generate and sign a transaction for subsequent submission to the network.
    <span id="offline_toggle_info_emphasis">YOU MUST INDEPENDENTLY SUBMIT THE PRODUCED TRANSACTION TO RECEIVE FLARE TOKENS</span>
  </div>
</div>
