<!-- Security partial: contains informational content
     relating to system security -->
<div id="_security_partial">
  <div id="_security_partial_preface">
    <p>
      Cryptocurrencies allow you to <i>be your own bank</i> but <b>with this power comes responsibility</b>.
    </p>

    <p>
      It is essential that you trust the tools that you use to manage your private keys and only run these on systems which are fully secure.
    </p>
  </div>

  <div class="_security_partial_separator">
  </div>

  <div id="_security_partial_header">
    To ensure your system is as secure as possible make sure to do the following
  </div>

  <div id="_security_partial_section1">
    <div id="_security_partial_subsection1">
      Only run this software in a private location and on a secure network. Do not connect to public wifi or that in a location such as an internet cafe or similar. Ensure you are not being monitored, either in person or via a surveillance system, while using this software.
    </div>

    <div id="_security_partial_subsection2">
      <img src="../assets/img-privateNetwork.svg" />
    </div>
  </div>

  <div id="_security_partial_section2">
    <div id="_security_partial_subsection3">
      <p>
      Ensure your system is up to date and has all security updates provided by your operating system's vendor (Microsoft, Apple, RedHat, Ubuntu/Debian).
      </p>

      <p>
      Ideally this system should be dedicated to cryptocurrency key management and no unrelated software installed and at no point this system was phsyically compromised. This can include the installation of keyloggers, monitoring software, or similar.
      </p>
    </div>

    <div id="_security_partial_subsection4">
      <img src="../assets/img-updatedComputer.svg" />
    </div>
  </div>

  <div class="_security_partial_separator">
  </div>

  <div id="_security_partial_section3">
    Optionally consider running this tool in offline mode. This can be enabled via the application 'Settings' (gear icon in the sidebar). In offline mode you will not be connected to any network, though you will have to take the extra step of submitting the signed transaction at the end of the process.
  </div>
</div>
