<!-- XRP Secret Partial:
     - contains input text box
     - show/hide button
     - error
-->
<div id="_xrp_secret_partial">
  <h2>XRP Secret Key:</h2>

  <div id="xrp_secret_subcontainer">
    <div id="xrp_secret_wrapper">
      <input id="xrp_secret" type="password" />

      <div id="xrp_secret_error" class="error">
        <div id="xrp_secret_invalid">
          Invalid XRP Secret
        </div>
      </div>
    </div>

    <img id="view_xrp_secret" src="../assets/view.svg" title="Show Secret" />
    <img id="hide_xrp_secret" src="../assets/hide.svg" title="Hide Secret" />
  </div>
</div>
