<!-- XRP Address Partial:
     - contains input text box
     - informational message
     - error
-->
<div id="_xrp_address_partial">
  <div id="xrp_address_container">
    <h3>XRP Account:</h3>

    <div id="xrp_address_info">
      You have opted-in to specify the XRP account to setup via the settings.
    </div>
  </div>

  <!-- This input is validated to ensure it is an XRP address -->
  <input id="xrp_address" type="text" />

  <!-- Rendered if XRP address is invalid -->
  <div id="xrp_address_invalid" class="error">
    Invalid XRP Address
  </div>
</div>
