<!-- Control allowing user to pecify account to be setup
     (different than one corresponding to keypair signing transaction)
-->
<div id="_xrp_account_toggle_partial">
  <div id="xrp_account_toggle_container">
    <label for="xrp_account_toggle">
      <span id="xrp_account_toggle_label">Specify XRP Account</span>
    </label>

    <label class="switch">
      <input id="xrp_account_toggle" type="checkbox">
      <span class="slider"></span>
    </label>
  </div>

  <div id="xrp_account_toggle_info">
    Allows you to explicity set the XRP account to setup if different than the one corresponding to the secret key. Useful for the case where you are using a RegularKeyPair to sign transactions.
  </div>
</div>
